*{
margin: 0;
padding: 0;
}
html, body{
overflow-x: hidden;

}



/*   Cardillac,Baskerville,Times,serif;*/
.navbar-brand img {
  width: 100px;
}

.navbar-nav a {
  color: black;
}
.navbar {
  background-color: #f4f6f6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: sticky;
  top: 0%;
  left: 0;
  z-index: 1;
}

/*bigHero*/
.bigHero {
  width: 100%;
  display: flex;
  justify-content: space-between; /*create gap in the middle bet 2 pics*/
}
.leftBox {
  background-image: url('/asset/images/yellowstone-hotspring.jpg');
  width: 49.5%;
  height: 60vh;
  background-size: cover; /*make picture too big fit perfectly*/
}

.rightBox {
  background-image: url('/asset/images/river-yellowstone.jpg');
  width: 49.5%;
  height: 60vh;
  background-size: cover; /*make picture too big fit perfectly*/
}
/*section1*/
.video {
  display: flex;
  justify-content: center;
  margin: 40px 0px;

}
.video iframe{
  width: 80%;
  height: 400px;
 
}
.section1 {

  width: 70%;
  margin: 30px auto;
  text-align: justify;/*all text equal both side*/
}
.section1 h1 {
text-align: center;
margin: 10px 0px;
}
/*change only history word to be bold and yellow*/
b{
font-size: 30px;
color: #F1C40F ;

}

/*customGrid section 4 small box*/
.mainBox-grid{
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns:repeat(4,1fr);
  grid-gap:20px;
  grid-template-rows:auto ;/* we put height of the small boxes here*/
  margin: 40px auto 0px auto;

}
.smallCard{
  text-align: center;
  padding: 10px;
  background-color: #F2F3F4;
 


}
.smallCard img{
  width: 100%;
  height: 250px;
  object-fit: cover;/*make pics fit prfectly without strect*/
  margin-bottom: 20px;

}

.smallCard a{
text-decoration: none;
color: black;

}

/*bottom-section-minivan-flexbox*/
.mainBox-bottomSection{
  width: 80%;
  height: ;
  display: flex;
  margin: 50px auto 0px auto ;
  border: 1px solid #BFC9CA;
}

.imgBox-leftside{
  width: 30%;

}

.imgBox-leftside img{
  width: 100%;/*width 100% from the box size leftside*/
 
}

.textBox-rightside{
  width: 70%;
  padding: 20px;

}

.box2{
flex-direction: row-reverse;

}

/*social media-footer*/
.fa-brands{
font-size: 20px;


}

.socialMedia{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.circle-aroundSocialmedia{
margin: 10px;
width: 50px;
height: 50px;
border: 2px solid #F1C40F ;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;

}
hr{
width: 85%;
height: 5px;/*thicker line*/
margin: 40px auto;

}

.contactUs{
width: 50%;
padding-left: 100px;

}

.contactUs h2{
  margin-bottom: 20px;

}
footer{
display: flex;
flex-wrap: wrap;/*make it responsive*/
flex-direction: row-reverse;

}

.copyRight{
text-align: center;
padding: 30px;

}
/*Ipad-mediaqueries*/
@media  screen and (max-width: 900px) {
  .mainBox-grid{
    grid-template-columns:repeat(2,1fr);/*we change to show 2box each row for ipad*/
   
  }
 
  .imgBox-leftside{
    width: 30%;
    display: flex;/*we move minivan pic to center*/
    align-items: center;
  
  }
    
}

/*phone-mediaqueries*/
@media  screen and (max-width: 500px) {
  .mainBox-grid{
    grid-template-columns:1fr;
    /*we change to show only 1box each row for iphone-remove repeat/ left only 1 fr*/
   
  }
  /*bighero make pic shorter-we change height*/
  .leftBox {
   
    height: 30vh;
    background-size: cover; /*make picture too big fit perfectly*/
    background-position: center;
  }
  
  .rightBox {
   
    height: 30vh;
    background-size: cover; /*make picture too big fit perfectly*/
    background-position: center;
  }

  /*make video size shorter*/

.video iframe{
  width: 80%;
  height: 250px;
 
}

/*text too long make it short put scrool bar*/
.text-middlesection{
  width: 100%;
  height: 400px;
  overflow: scroll;
  margin: 30px auto;
  text-align: justify;/*all text equal both side*/
}



/*minivan -flexbox section*/
.mainBox-bottomSection{
 
  flex-direction: column;
}

.imgBox-leftside{
  width: 100%;
  /*we change from 30% to 100% for put pic on top and text at the booton*/

}

.textBox-rightside{
  width: 100%; /*we change from 70% to 100% for put pic on top and text at the booton*/
  padding: 20px;

}

.box2{
flex-direction: column;

}

/*contact-Us*/
.contactUs{
  width: 100%;
  padding-left: 30px;
  
  }
  
  footer{

  flex-direction: column;/*move socual media on the side to bottom*/

  
  }
  .socialMedia{
    width: 100%;
    margin-bottom: 20px;
    
  
  }


}

/*end mediaqueries for home page*/
